@import './App.css';
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
$skyblue : #ebfaff;
$skyblueBoxShadowing : 5px 15px 25px rgba(173, 216, 230, 0.8);
$defaultBoxShadowing: 10px 10px 30px rgba(0, 0, 0, 0.1);
$fontAwesomeColor: #666;
$h2FontColor: #555;
$pFontColor: #bbb;
$skyblueBtnBackgroundColor: #444;
$skyblueBtnBackgroundGradiant: linear-gradient(45deg, #4affff, #35e0f7);
$skyblueBtnBox-shadow: 5px 10px 20px rgba(0, 255, 255, 0.493);
p {
    margin: 0;
}

@mixin Flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin WH($width, $height) {
    width: $width;
    height: $height;
    border: 1px solid;
}

.navbar {
    height: 5vh;
}

.App {
    background: #ebfaff;
    height: 100vh;
}

.container_main {
    margin: 0 auto;
    border: 1px solid;
    @include WH(500px, auto);
    border-radius: 8px;
    margin-top: 50px;
    background: white;
    box-shadow: $defaultBoxShadowing;
    border: none;
}

.nav {
    height: 50px;
    display: flex;
    padding: 15px 20px 10px 20px;
    @include Flex(row, center, space-between);
    svg {
        font-size: 25px;
        color: #555;
        &:hover {
            color: black;
        }
    }
    .icons_right {
        width: 150px;
        @include Flex(row, center, space-between);
    }

    .icons_left {
        width: 60px;
        @include Flex(row, center, space-between);
    }
}

.profile_img img {
    border-radius: 50%;
    box-shadow: $skyblueBoxShadowing;
}

.profile_info {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    @include Flex(column, center, center);
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #555;
        font-size: 22px;
        line-height: 1;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        color: #bbb;
    }
}

.todos {
    @include Flex(column, center, flex-start);
    .element {
        @include Flex(row, flex-start, space-around);
        width: 280px;
        padding: 10px 30px 10px 20px;
        border-radius: 15px;
        margin: 3px;
        .circle {
            color: #555;
            font-size: 22px;
            padding-right: 10px;
        }
        .content {
            color: #555;
            font-size: 22px;
            width: 100%;
            font-family: 'Gamja Flower', cursive;
            font-weight: bold;
        }
        &:last-child {
            margin-bottom: 30px;
        }
        &:hover {
            .content {
                color: black;
            }
            .circle {
                color: black;
            }
            & {
                box-shadow: $skyblueBoxShadowing;
                border-radius: 15px;
            }
        }
    }
}

.upload_container {
    @include Flex(column, center, flex-start);
    margin-top: 20px;
    input {
        border: 1px solid rgba(#666, 0.3);
        color: #777;
        border-radius: 14px;
        outline: none;
        cursor: default;
        text-align: center;
        text-decoration: none;
        width: 400px;
        height: 50px;
        font-size: 20px;
        font-family: 'Gamja Flower', cursive;
    }

    button {
        margin-top: 35px;
        background-color: $skyblueBtnBackgroundColor;
        background: $skyblueBtnBackgroundGradiant;
        box-shadow: $skyblueBtnBox-shadow;
        font-family: Arial, Helvetica, sans-serif;
        @include Flex(row, center, center);
        @include WH(150px, 30px);
        border-radius: 14px;
        border: none;
        color: white;
        margin-bottom: 50px;
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
}


.detail {
    padding-bottom: 40px;
    h2 {
        color: #555;
        font-family: 'Gamja Flower', cursive;
        font-weight: bold;
        margin-top: 33px;
    }
    h3 {
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        font-family: 'Gamja Flower', cursive;
        &.completed {
            font-family: 'Gamja Flower', cursive;
            color: rgba(red, 0.6);
        }
        &.uncompleted {
            color: #999;
        }
    }
    
}

